.container {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  z-index: 1;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      display: inline-flex;
    }

    ::ng-deep &-select {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-img {
      max-height: 50px;
    }
  }
}

.main {
  margin: 100px 0 64px;
  height: 100%;

  &__container {
    width: calc(100% - 200px);
    margin: 50px auto;
  }

  &__description {
    margin-bottom: 50px;

    &-title {
      margin-left: 70px;

      color: #3f51b5;
      font-size: 34px;
      font-weight: 600;
    }
  }

  &__carousel {
    margin-bottom: 50px;
  }

  &__address {
    margin-bottom: 50px;

    &-title {
      margin-left: 70px;

      color: #3f51b5;
      font-size: 34px;
      font-weight: 600;
    }

    &-paragraph {
      color: #000;
      font-weight: 500;
      font-size: 22px;
    }

    &-link {
      color: #000;
    }
  }
}

.footer {
  height: 64px;
  position: sticky;
  top: 100%;

  &__container {
    width: 100%;
  }

  &__link-logo {
    display: inline-flex;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    margin: 15px 0;

    text-align: center;
  }
}
