.about {
  &__nav {
    padding: 0 20px;
    background: #3f51b5;

    &-heading {
      font-weight: 400;
      margin: 0;
      padding: 28px 8px;
      font-size: 24px;
    }
  }

  &__content {
    padding: 20px 70px 0;
  }

  &__heading-lg {
    color: #000;
    font-size: 34px;
    font-weight: 400;
    padding: 5px;
  }

  &__heading-md {
    margin-top: 60px;

    color: #000;
    font-size: 24px;
    font-weight: 400;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 28px;
  }
}
