<main class="homepage">
  <div class="homepage-container">
    <div>
      <h1 class="homepage-container__heading mat-headline">XBOOK</h1>
      <h2 class="homepage-container__title mat-title">
        {{ 'HOMEPAGE.CONTAINER.TITLE' | translate }}
      </h2>
    </div>

    <div class="homepage-container__link">
      <a mat-raised-button (click)="scrollToElement(registerForm)">{{
        'HOMEPAGE.CONTAINER.LINK' | translate
      }}</a>
    </div>
  </div>

  <section class="homepage-section">
    <article class="homepage-section__article">
      <h3 class="homepage-section__article-heading">
        {{ 'HOMEPAGE.SECTION.ARTICLE1.H3' | translate }}
      </h3>
      <p class="homepage-section__article-paragraph">
        {{ 'HOMEPAGE.SECTION.ARTICLE1.P1' | translate }}
      </p>
      <p class="homepage-section__article-paragraph">
        {{ 'HOMEPAGE.SECTION.ARTICLE1.P2' | translate }}
      </p>
    </article>

    <article class="homepage-section__article">
      <h3 class="homepage-section__article-heading">
        {{ 'HOMEPAGE.SECTION.ARTICLE2.H3' | translate }}
      </h3>
      <p class="homepage-section__article-paragraph">
        {{ 'HOMEPAGE.SECTION.ARTICLE2.P1' | translate }}
      </p>
      <p class="homepage-section__article-paragraph">
        {{ 'HOMEPAGE.SECTION.ARTICLE2.P2' | translate }}
      </p>
    </article>

    <article class="homepage-section__article">
      <h3 class="homepage-section__article-heading">
        {{ 'HOMEPAGE.SECTION.ARTICLE3.H3' | translate }}
      </h3>
      <p class="homepage-section__article-paragraph">
        {{ 'HOMEPAGE.SECTION.ARTICLE3.P1' | translate }}
      </p>
      <p class="homepage-section__article-paragraph">
        {{ 'HOMEPAGE.SECTION.ARTICLE3.P2' | translate }}
      </p>
    </article>
  </section>

  <mat-divider class="homepage-divider"></mat-divider>
</main>

<div #registerForm>
  <app-register></app-register>
</div>
