<section class="register-section">
  <form
    class="register-section__form"
    novalidate
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput formControlName="name" required />

      <mat-error *ngIf="loginForm.get('name').hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error
        *ngIf="
          loginForm.get('name').hasError('pattern') ||
          loginForm.get('name').hasError('maxlength')
        "
      >
        Not a valid name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />

      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('email')">
        Not a valid name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />

      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error
        *ngIf="
          loginForm.get('password').hasError('pattern') ||
          loginForm.get('password').hasError('maxlength')
        "
      >
        Not a valid name
      </mat-error>

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button>Sign Up</button>
  </form>
</section>
