.register-section {
  padding: 50px 0;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-field {
      width: 250px;
    }
  }

  &__submit {
    font-size: 17px;
  }
}
