<section class="register-section">
  <form
    class="register-section__form"
    novalidate
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
  >
    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input
        matInput
        type="text"
        formControlName="username"
        (ngModelChange)="onChange($event)"
        required
      />

      <mat-error *ngIf="username.invalid">
        <div *ngIf="username.errors.required">You must enter a value</div>
        <div *ngIf="username.errors.pattern || username.errors.maxlength">
          Not a valid username
        </div>
      </mat-error>

      <div *ngIf="userExists$ | async">This username already exists</div>
    </mat-form-field>

    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        type="email"
        placeholder="pat@example.com"
        formControlName="email"
        required
      />

      <mat-error *ngIf="email.invalid">
        <div *ngIf="email.errors.required">You must enter a value</div>
        <div *ngIf="email.errors.pattern">Not a valid name</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />

      <mat-error *ngIf="password.invalid">
        <div *ngIf="password.errors.required">You must enter a value</div>
        <div *ngIf="password.errors.pattern || password.errors.maxlength">
          Not a valid password
        </div>
      </mat-error>

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="register-section__form-field" appearance="fill">
      <mat-label>Enter password again</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
        pattern="{{ password.value }}"
        required
      />

      <mat-error *ngIf="confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors.required">
          You must enter a value
        </div>
        <div *ngIf="confirmPassword.errors.pattern">
          Please make sure your passwords match
        </div>
      </mat-error>

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-spinner
      *ngIf="loading$ | async"
      diameter="25"
      color="primary"
    ></mat-spinner>
    <button
      *ngIf="!(loading$ | async)"
      class="register-section__submit mat-spinner"
      mat-raised-button
      color="accent"
      [disabled]="loginForm.invalid"
    >
      Register
    </button>
  </form>
</section>
