<section class="configuration">
  <div class="configuration__nav">
    <h1 class="configuration__nav-title">Configuration</h1>
  </div>

  <form
    class="configuration__form"
    novalidate
    (change)="isSaved = false"
    [formGroup]="configurationForm"
    *ngIf="configurationForm"
  >
    <fieldset class="configuration__form-fieldset">
      <legend>General</legend>
      <div class="configuration__form-fieldset-general">
        <mat-form-field
          class="configuration__form-field configuration__form-field-name"
          appearance="outline"
        >
          <mat-label>Website name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            required
            autocomplete="off"
          />
          <mat-hint>Website name must be unique</mat-hint>

          <mat-error *ngIf="name.invalid">
            <div *ngIf="name.errors.required">Website name is required</div>
            <div *ngIf="name.errors.pattern">Enter only words or numbers</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="configuration__form-field configuration__form-field-title"
          appearance="outline"
        >
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your website title</mat-hint>

          <mat-error *ngIf="title.invalid">
            <div *ngIf="title.errors.required">Title is required</div>
            <div *ngIf="title.errors.pattern">Enter only words or numbers</div>
          </mat-error>
        </mat-form-field>
      </div>

      <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
    </fieldset>

    <fieldset class="configuration__form-fieldset">
      <legend>Contacts</legend>

      <div>
        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>First name</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstName"
            autocomplete="off"
            required
          />
          <mat-hint>Enter your first name</mat-hint>

          <mat-error *ngIf="firstName.invalid">
            <div *ngIf="firstName.errors.required">First name is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Last name</mat-label>
          <input
            matInput
            type="text"
            formControlName="lastName"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your last name</mat-hint>

          <mat-error *ngIf="lastName.invalid">
            <div *ngIf="lastName.errors.required">Last name is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your email</mat-hint>

          <mat-error *ngIf="email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email is incorrect</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" required>
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let country of countryStatesService.countries"
              [value]="country"
              (click)="countryStates = country"
              >{{ country }}</mat-option
            >
          </mat-select>
          <mat-hint>Enter your country</mat-hint>

          <mat-error *ngIf="country.invalid">
            <div *ngIf="country.errors.required">Country is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Phone number</mat-label>
          <input
            matInput
            type="number"
            formControlName="phoneNumber"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your phone number</mat-hint>

          <mat-error *ngIf="phoneNumber.invalid">
            <div *ngIf="phoneNumber.errors.required">
              Phone number is required
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Address</mat-label>
          <input
            matInput
            type="text"
            formControlName="address"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your address</mat-hint>

          <mat-error *ngIf="address.invalid">
            <div *ngIf="address.errors.required">Address is required</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>City</mat-label>
          <input
            matInput
            type="text"
            formControlName="city"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your city</mat-hint>

          <mat-error *ngIf="city.invalid">
            <div *ngIf="city.errors.required">City is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let state of countryStatesService.states[countryStates]"
              [value]="state"
              >{{ state }}</mat-option
            >
          </mat-select>
          <mat-hint>Enter your state</mat-hint>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Postal code</mat-label>
          <input
            matInput
            type="text"
            formControlName="postalCode"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your postal code</mat-hint>

          <mat-error *ngIf="postalCode.invalid">
            <div *ngIf="postalCode.errors.required">
              Postal code is required
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>

    <fieldset class="configuration__form-fieldset">
      <legend>Appearance</legend>

      <div class="configuration__form-fieldset-appearance">
        <fieldset class="configuration__form-fieldset-appearance-container">
          <legend>Website logo</legend>

          <div class="configuration__form-fieldset-logo">
            <input matInput hidden />

            <input
              class="configuration__form-fieldset-appearance-logo"
              type="file"
              #fileInput
              id="uploadFile"
              (change)="uploadFileEvt($event, 'logo')"
              name="file"
              multiple="multiple"
              accept="image/*"
            />
          </div>

          <div class="configuration__form-logo">
            <button
              class="configuration__form-logo-input"
              mat-flat-button
              (click)="fileInput.click()"
            >
              <span class="configuration__form-logo-span">Drop files here</span>
              <img
                class="configuration__form-logo-img"
                src="{{ logoImage }}"
                width="150px"
              />
            </button>
          </div>
        </fieldset>

        <fieldset
          class="configuration__form-fieldset-appearance-container configuration__form-fieldset-appearance-container--flex"
        >
          <legend>Color-schema</legend>

          <mat-menu class="configuration__scheme-menu" #schemeMenu>
            <mat-radio-group>
              <mat-radio-button
                class="configuration__scheme-button"
                role="menuitem"
                aria-disabled="false"
                value="1"
              >
                <span>Deep Purple &amp; Amber</span>

                <mat-icon
                  role="img"
                  class="configuration__scheme-icon"
                  aria-hidden="true"
                  data-mat-icon-type="svg"
                  data-mat-icon-name="theme-example"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="100%"
                    height="100%"
                    viewBox="0 0 80 80"
                    preserveAspectRatio="xMidYMid meet"
                    focusable="false"
                  >
                    <defs>
                      <path
                        d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                        id="a"
                      ></path>
                      <path
                        d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                        id="b"
                      ></path>
                      <path d="M0 0h80v17.24H0V0z" id="c"></path>
                    </defs>
                    <use xlink:href="#a" fill="#fafafa"></use>
                    <use xlink:href="#b" fill="#ffc107"></use>
                    <use xlink:href="#c" fill="#673ab7"></use>
                  </svg>
                </mat-icon>
              </mat-radio-button>

              <mat-radio-button
                class="configuration__scheme-button"
                role="menuitem"
                aria-disabled="false"
                [value]="2"
              >
                <span>Indigo &amp; Pink</span>

                <mat-icon
                  role="img"
                  class="configuration__scheme-icon"
                  aria-hidden="true"
                  data-mat-icon-type="svg"
                  data-mat-icon-name="theme-example"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="100%"
                    height="100%"
                    viewBox="0 0 80 80"
                    preserveAspectRatio="xMidYMid meet"
                    focusable="false"
                  >
                    <defs>
                      <path
                        d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                        id="a"
                      ></path>
                      <path
                        d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                        id="b"
                      ></path>
                      <path d="M0 0h80v17.24H0V0z" id="c"></path>
                    </defs>
                    <use xlink:href="#a" fill="#fafafa"></use>
                    <use xlink:href="#b" fill="#e91e63"></use>
                    <use xlink:href="#c" fill="#3f51b5"></use>
                  </svg>
                </mat-icon>
              </mat-radio-button>

              <mat-radio-button
                class="configuration__scheme-button"
                role="menuitem"
                aria-disabled="false"
                [value]="3"
              >
                <span>Pink &amp; Blue-grey</span>

                <mat-icon
                  role="img"
                  class="configuration__scheme-icon"
                  aria-hidden="true"
                  data-mat-icon-type="svg"
                  data-mat-icon-name="theme-example"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="100%"
                    height="100%"
                    viewBox="0 0 80 80"
                    preserveAspectRatio="xMidYMid meet"
                    focusable="false"
                  >
                    <defs>
                      <path
                        d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                        id="a"
                      ></path>
                      <path
                        d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                        id="b"
                      ></path>
                      <path d="M0 0h80v17.24H0V0z" id="c"></path>
                    </defs>
                    <use xlink:href="#a" fill="#303030"></use>
                    <use xlink:href="#b" fill="#607d8b"></use>
                    <use xlink:href="#c" fill="#e91e63"></use>
                  </svg>
                </mat-icon>
              </mat-radio-button>

              <mat-radio-button
                class="configuration__scheme-button"
                role="menuitem"
                aria-disabled="false"
                [value]="4"
              >
                <span>Purple &amp; Green</span>

                <mat-icon
                  role="img"
                  class="configuration__scheme-icon"
                  aria-hidden="true"
                  data-mat-icon-type="svg"
                  data-mat-icon-name="theme-example"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="100%"
                    height="100%"
                    viewBox="0 0 80 80"
                    preserveAspectRatio="xMidYMid meet"
                    focusable="false"
                  >
                    <defs>
                      <path
                        d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                        id="a"
                      ></path>
                      <path
                        d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                        id="b"
                      ></path>
                      <path d="M0 0h80v17.24H0V0z" id="c"></path>
                    </defs>
                    <use xlink:href="#a" fill="#303030"></use>
                    <use xlink:href="#b" fill="#4caf50"></use>
                    <use xlink:href="#c" fill="#9c27b0"></use>
                  </svg>
                </mat-icon>
              </mat-radio-button>
            </mat-radio-group>
          </mat-menu>

          <button
            class="configuration__scheme-toggle"
            mat-raised-button
            color="primary"
            [mat-menu-trigger-for]="schemeMenu"
          >
            Select scheme-color
          </button>
        </fieldset>
      </div>

      <fieldset class="configuration__form-fieldset-appearance-container">
        <legend>Image gallery</legend>

        <div class="configuration__form-fieldset-gallery">
          <input matInput hidden />

          <input
            class="configuration__form-fieldset-appearance-gallery"
            type="file"
            #imgGalleryInput
            (change)="uploadFileEvt($event, 'gallery')"
            name="file"
            multiple="multiple"
            accept="image/*"
          />
        </div>

        <div class="configuration__form-gallery">
          <button
            class="configuration__form-gallery-input"
            mat-flat-button
            (click)="imgGalleryInput.click()"
          >
            <span class="configuration__form-gallery-span"
              >Drop files here</span
            >
          </button>
        </div>

        <div class="configuration__form-gallery-img">
          <div
            style="width: 150px; margin: 0 10px"
            *ngFor="let image of galleryImages"
          >
            <img
              style="width: 100%; height: auto"
              src="{{ image }}"
              alt="Test img"
            />
          </div>
        </div>
      </fieldset>

      <div>
        <fieldset>
          <legend>Image gallery</legend>

          <label for="singleFile">Upload file</label>
          <input
            id="singleFile"
            type="file"
            [fileUploadInputFor]="fileUploadQueue"
          />
          <br />

          <mat-file-upload-queue
            #fileUploadQueue
            [fileAlias]="'file'"
            (click)="test(fileUploadQueue.files)"
          >
            <mat-file-upload
              [file]="file"
              [id]="i"
              *ngFor="let file of fileUploadQueue.files; let i = index"
            ></mat-file-upload>

            <div>
              <div style="width: 150px" *ngFor="let image of galleryImages">
                <img
                  style="width: 100%; height: auto"
                  src="{{ image }}"
                  alt="Test img"
                />
              </div>
            </div>
          </mat-file-upload-queue>
        </fieldset>
      </div>
    </fieldset>

    <mat-spinner
      *ngIf="loading$ | async"
      diameter="25"
      color="primary"
    ></mat-spinner>

    <div
      class="configuration__form-buttons"
      *ngIf="(loading$ | async) === false"
    >
      <button
        class="configuration__form-submit mat-spinner"
        mat-raised-button
        color="warn"
        (click)="onReset()"
      >
        Reset
      </button>

      <div>
        <button
          class="configuration__form-submit configuration__form-submit-save mat-spinner"
          mat-raised-button
          color="primary"
          [disabled]="name.invalid || title.invalid"
          (click)="onSave(configurationForm)"
        >
          Save
        </button>

        <button
          class="configuration__form-submit mat-spinner"
          mat-raised-button
          color="primary"
          [disabled]="configurationForm.invalid || !isSaved"
          (click)="onPublish(configurationForm)"
        >
          Publish
        </button>
      </div>
    </div>
  </form>
</section>
