<section class="configuration">
  <div class="configuration__nav">
    <h1 class="configuration__nav-title">Configuration</h1>
  </div>

  <form
    class="configuration__form"
    novalidate
    [formGroup]="configurationForm"
    *ngIf="configurationForm"
  >
    <div>
      <mat-form-field class="configuration__form-field" appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          formControlName="title"
          required
          autocomplete="off"
        />
        <mat-hint>Title</mat-hint>

        <mat-error *ngIf="title.invalid">
          <div *ngIf="title.errors.required">Required</div>
          <div *ngIf="title.errors.pattern">Pattern</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="configuration__form-field" appearance="outline">
        <mat-label>Phone number</mat-label>
        <input
          matInput
          type="number"
          formControlName="phoneNumber"
          required
          autocomplete="off"
        />
        <mat-hint>Phone number</mat-hint>

        <mat-error *ngIf="phoneNumber.invalid">
          <div *ngIf="phoneNumber.errors.required">Required</div>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field
      class="configuration__form-field configuration__form-field--lg"
      appearance="outline"
    >
      <mat-label>Address</mat-label>
      <input
        matInput
        type="text"
        formControlName="address"
        required
        autocomplete="off"
      />
      <mat-hint>Address</mat-hint>

      <mat-error *ngIf="address.invalid">
        <div *ngIf="address.errors.required">Required</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="configuration__form-field configuration__form-field--lg"
      appearance="outline"
    >
      <mat-label>Description (html)</mat-label>
      <textarea
        class="configuration__form-field-textarea"
        matInput
        formControlName="description"
      ></textarea>
      <mat-hint>Description (html)</mat-hint>
    </mat-form-field>

    <label for="singleFile">Upload file</label>
    <input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue" />
    <br />

    <mat-file-upload-queue
      #fileUploadQueue
      [fileAlias]="'file'"
      [httpUrl]="
        'https://eu.backendlessappcontent.com/96FB9625-D188-0F5C-FF1F-D2B1F1B4D200/CA55825C-2422-42B7-9E25-F6A1699C9C90/files/images/test-img-name.png'
      "
    >
      <mat-file-upload
        [file]="file"
        [id]="i"
        *ngFor="let file of fileUploadQueue.files; let i = index"
      ></mat-file-upload>

      <div style="width: 200px; height: 200px">
        <img
          style="width: 100%; height: auto"
          src="https://eu.backendlessappcontent.com/96FB9625-D188-0F5C-FF1F-D2B1F1B4D200/CA55825C-2422-42B7-9E25-F6A1699C9C90/files/images/test-img.jpg"
          alt="Test img"
        />
      </div>
    </mat-file-upload-queue>

    <mat-spinner
      *ngIf="loading$ | async"
      diameter="25"
      color="primary"
    ></mat-spinner>

    <div
      class="configuration__form-buttons"
      *ngIf="(loading$ | async) === false"
    >
      <button
        class="configuration__form-submit mat-spinner"
        mat-raised-button
        color="accent"
        (click)="onSave(configurationForm)"
      >
        Save
      </button>

      <button
        class="configuration__form-submit mat-spinner"
        mat-raised-button
        color="accent"
      >
        Publish
      </button>

      <button
        class="configuration__form-submit mat-spinner"
        mat-raised-button
        color="accent"
      >
        Reset
      </button>
    </div>
  </form>
</section>
