<section class="configuration">
  <div class="configuration__nav">
    <h1 class="configuration__nav-title">Configuration</h1>
  </div>

  <form
    class="configuration__form"
    novalidate
    [formGroup]="configurationForm"
    *ngIf="configurationForm"
  >
    <fieldset class="configuration__form-fieldset">
      <legend>General</legend>
      <div class="configuration__form-fieldset-general">
        <mat-form-field
          class="configuration__form-field configuration__form-field-name"
          appearance="outline"
        >
          <mat-label>Website name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            required
            autocomplete="off"
          />
          <mat-hint>Website name must be unique</mat-hint>

          <mat-error *ngIf="name.invalid">
            <div *ngIf="name.errors.required">Website name is required</div>
            <div *ngIf="name.errors.pattern">Enter only words or numbers</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="configuration__form-field configuration__form-field-title"
          appearance="outline"
        >
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your website title</mat-hint>

          <mat-error *ngIf="title.invalid">
            <div *ngIf="title.errors.required">Title is required</div>
            <div *ngIf="title.errors.pattern">Enter only words or numbers</div>
          </mat-error>
        </mat-form-field>
      </div>

      <ckeditor #ckeditor [editor]="Editor"></ckeditor>
    </fieldset>

    <fieldset class="configuration__form-fieldset">
      <legend>Contacts</legend>

      <div>
        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>First name</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstName"
            autocomplete="off"
            required
          />
          <mat-hint>Enter your first name</mat-hint>

          <mat-error *ngIf="firstName.invalid">
            <div *ngIf="firstName.errors.required">First name is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Last name</mat-label>
          <input
            matInput
            type="text"
            formControlName="lastName"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your last name</mat-hint>

          <mat-error *ngIf="lastName.invalid">
            <div *ngIf="lastName.errors.required">Last name is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your email</mat-hint>

          <mat-error *ngIf="email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email is incorrect</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Country</mat-label>
          <input
            matInput
            type="text"
            formControlName="country"
            autocomplete="off"
            required
          />
          <mat-hint>Enter your country</mat-hint>

          <mat-error *ngIf="country.invalid">
            <div *ngIf="country.errors.required">Country is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Phone number</mat-label>
          <input
            matInput
            type="number"
            formControlName="phoneNumber"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your phone number</mat-hint>

          <mat-error *ngIf="phoneNumber.invalid">
            <div *ngIf="phoneNumber.errors.required">
              Phone number is required
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Address</mat-label>
          <input
            matInput
            type="text"
            formControlName="address"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your address</mat-hint>

          <mat-error *ngIf="address.invalid">
            <div *ngIf="address.errors.required">Address is required</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>City</mat-label>
          <input
            matInput
            type="text"
            formControlName="city"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your city</mat-hint>

          <mat-error *ngIf="city.invalid">
            <div *ngIf="city.errors.required">City is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>State</mat-label>
          <input
            matInput
            type="text"
            formControlName="state"
            autocomplete="off"
          />
          <mat-hint>Enter your state</mat-hint>
        </mat-form-field>

        <mat-form-field class="configuration__form-field" appearance="outline">
          <mat-label>Postal code</mat-label>
          <input
            matInput
            type="text"
            formControlName="postalCode"
            required
            autocomplete="off"
          />
          <mat-hint>Enter your postal code</mat-hint>

          <mat-error *ngIf="postalCode.invalid">
            <div *ngIf="postalCode.errors.required">
              Postal code is required
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>

    <fieldset class="configuration__form-fieldset">
      <legend>Appearence</legend>

      <label for="singleFile">Upload file</label>
      <input
        id="singleFile"
        type="file"
        [fileUploadInputFor]="fileUploadQueue"
      />
      <br />

      <mat-file-upload-queue
        #fileUploadQueue
        [fileAlias]="'file'"
        [httpUrl]="
          'https://eu.backendlessappcontent.com/96FB9625-D188-0F5C-FF1F-D2B1F1B4D200/CA55825C-2422-42B7-9E25-F6A1699C9C90/files/images/test-img-name.png'
        "
      >
        <mat-file-upload
          [file]="file"
          [id]="i"
          *ngFor="let file of fileUploadQueue.files; let i = index"
        ></mat-file-upload>

        <div style="width: 150px">
          <img
            style="width: 100%; height: auto"
            src="https://eu.backendlessappcontent.com/96FB9625-D188-0F5C-FF1F-D2B1F1B4D200/CA55825C-2422-42B7-9E25-F6A1699C9C90/files/images/test-img.jpg"
            alt="Test img"
          />
        </div>
      </mat-file-upload-queue>
    </fieldset>

    <mat-spinner
      *ngIf="loading$ | async"
      diameter="25"
      color="primary"
    ></mat-spinner>

    <div
      class="configuration__form-buttons"
      *ngIf="(loading$ | async) === false"
    >
      <button
        class="configuration__form-submit mat-spinner"
        mat-raised-button
        color="warn"
        (click)="onReset()"
      >
        Reset
      </button>

      <div>
        <button
          class="configuration__form-submit configuration__form-submit-save mat-spinner"
          mat-raised-button
          color="primary"
          [disabled]="name.invalid || title.invalid"
          (click)="onSave(configurationForm, ckeditor)"
        >
          Save
        </button>

        <button
          class="configuration__form-submit mat-spinner"
          mat-raised-button
          color="primary"
          [disabled]="configurationForm.invalid"
          (click)="onPublish(configurationForm, ckeditor)"
        >
          Publish
        </button>
      </div>
    </div>
  </form>
</section>
