<section class="profile">
  <div class="profile__nav">
    <h1 class="profile__nav-title">Profile</h1>
  </div>

  <form
    *ngIf="currentUser$ | async"
    class="profile__form"
    novalidate
    [formGroup]="profileForm"
    (ngSubmit)="onSave(profileForm)"
  >
    <div>
      <mat-form-field class="profile__form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="pat@example.com"
          formControlName="email"
          autocomplete="off"
          required
        />

        <mat-error *ngIf="email.invalid">
          <div *ngIf="email.errors.required">required</div>
          <div *ngIf="email.errors.email">pattern</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="profile__form-field" appearance="outline">
        <mat-label>Phone number</mat-label>
        <input
          matInput
          type="number"
          formControlName="phoneNumber"
          required
          autocomplete="off"
        />

        <mat-error *ngIf="phoneNumber.invalid">
          <div *ngIf="phoneNumber.errors.required">required</div>
          <div *ngIf="phoneNumber.errors.pattern">pattern</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="profile__form-field" appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          required
          autocomplete="off"
        />

        <mat-error *ngIf="firstName.invalid">
          <div *ngIf="firstName.errors.required">required</div>
          <div *ngIf="firstName.errors.pattern">pattern</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="profile__form-field" appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          required
          autocomplete="off"
        />

        <mat-error *ngIf="lastName.invalid">
          <div *ngIf="lastName.errors.required">required</div>
          <div *ngIf="lastName.errors.pattern">pattern</div>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="profile__form-field" appearance="outline">
      <mat-label>Address</mat-label>
      <input
        matInput
        type="text"
        formControlName="address"
        required
        autocomplete="off"
      />

      <mat-error *ngIf="address.invalid">
        <div *ngIf="address.errors.required">required</div>
        <div *ngIf="address.errors.pattern">pattern</div>
      </mat-error>
    </mat-form-field>

    <div>
      <mat-form-field class="profile__form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
        />

        <mat-error *ngIf="password.invalid">
          <div *ngIf="password.errors.pattern">pattern</div>
        </mat-error>

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="profile__form-field" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          [type]="hide ? 'password' : 'text'"
          pattern="{{ password.value }}"
          autocomplete="off"
        />

        <mat-error *ngIf="confirmPassword.invalid">
          <div *ngIf="confirmPassword.errors.pattern">
            Please make sure your passwords match
          </div>
        </mat-error>

        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-spinner
      *ngIf="loading$ | async"
      diameter="25"
      color="primary"
    ></mat-spinner>
    <button
      *ngIf="(loading$ | async) === false"
      class="profile__submit mat-spinner"
      mat-raised-button
      color="accent"
      [disabled]="profileForm.invalid"
    >
      Save
    </button>
  </form>
</section>
