.footer {
  height: 64px;

  &__container {
    width: 100%;
  }

  &__link-logo {
    display: inline-flex;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    margin: 15px 0;

    text-align: center;
  }
}
