<main class="main">
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="showSelectedOption()">Basic</button>
  <span>{{ option }}</span>
</main>
