.header {
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 64px;

  &__nav {
    display: flex;
    align-items: center;

    &-logo {
      display: inline-flex;
      margin-right: 15px;
    }

    &-list {
      display: flex;
      padding: 0;

      &-item {
        color: #fff;
      }
    }
  }

  &__controls {
    display: flex;

    &-lang {
      text-transform: uppercase;
    }

    ::ng-deep &-select {
      min-width: auto !important;
      width: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-option {
      text-transform: uppercase;
    }

    &-login {
      margin: 0 10px;
      display: inline-flex;
      align-items: center;

      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      margin-left: 14px;

      &-name {
        margin-left: 8px;
      }
    }
  }
}
