.header {
  justify-content: space-between;

  &__nav {
    display: flex;
    align-items: center;

    &-logo {
      display: inline-flex;
      margin-right: 15px;
    }

    &-list {
      display: flex;
      padding: 0;

      &-item {
        color: #fff;
      }
    }
  }

  &__controls {
    display: flex;

    &-lang {
      font-weight: 400;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      margin-left: 14px;

      &-name {
        margin-left: 8px;
      }
    }
  }

}
