<mat-toolbar color="primary" class="header mat-elevation-z6">
  <div class="header__nav">
    <a class="header__nav-logo" routerLink="/">
      <img src="assets/img/xbook-logo.png" alt="XBook" />
    </a>

    <mat-nav-list class="header__nav-list">
      <a
        class="header__nav-list-item mat-body-1"
        mat-list-item
        routerLink="/"
        >{{ 'HEADER.NAV.HOME' | translate }}</a
      >
      <a
        class="header__nav-list-item mat-body-1"
        mat-list-item
        routerLink="/landing/about"
        >{{ 'HEADER.NAV.ABOUT' | translate }}</a
      >
      <a
        class="header__nav-list-item mat-body-1"
        mat-list-item
        routerLink="/landing/contacts"
        >{{ 'HEADER.NAV.CONTACTS' | translate }}</a
      >
    </mat-nav-list>
  </div>

  <div class="header__controls">
    <mat-menu #langMenu class="header__controls-select">
      <button
        class="header__controls-option"
        mat-menu-item
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        (click)="onSelect(lang)"
      >
        {{ lang }}
      </button>
    </mat-menu>

    <button
      class="header__controls-lang"
      mat-button
      [mat-menu-trigger-for]="langMenu"
    >
      {{ translate.store.currentLang }}
    </button>

    <a
      href="https://github.com/ShyianO/XBook"
      class="header__controls-link"
      target="_blank"
    >
      <img src="assets/img/github-logo.png" alt="Github" />
      <span class="header__controls-link-name mat-body-1">GitHub</span>
    </a>
  </div>
</mat-toolbar>
