<mat-toolbar color="primary" class="header mat-elevation-z6">
  <div class="header__nav">
    <a class="header__nav-logo" routerLink="/">
      <img src="assets/img/xbook-logo.png" alt="XBook" />
    </a>

    <mat-nav-list class="header__nav-list">
      <a class="header__nav-list-item mat-body-1" mat-list-item routerLink="/"
        >Home</a
      >
      <a
        class="header__nav-list-item mat-body-1"
        mat-list-item
        routerLink="about"
        >About</a
      >
      <a
        class="header__nav-list-item mat-body-1"
        mat-list-item
        routerLink="contacts"
        >Contacts</a
      >
    </mat-nav-list>
  </div>

  <div class="header__controls">
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="langValue = 'EN'">EN</button>
      <button mat-menu-item (click)="langValue = 'UA'">UA</button>
    </mat-menu>

    <button
      mat-button
      [mat-menu-trigger-for]="langMenu"
      class="header__controls-lang"
    >
      {{ langValue }}
    </button>

    <a
      href="https://github.com/ShyianO/XBook"
      class="header__controls-link"
      target="_blank"
    >
      <img src="assets/img/github-logo.png" alt="Github" />
      <span class="header__controls-link-name mat-body-1">GitHub</span>
    </a>
  </div>
</mat-toolbar>
