<section class="contacts">
  <div class="contacts__nav">
    <h1 class="contacts__nav-heading">{{ 'CONTACTS.TITLE' | translate }}</h1>
  </div>

  <form
    class="contacts__form"
    [formGroup]="contactsForm"
    (ngSubmit)="onSubmit(contactsForm)"
  >
    <mat-form-field class="contacts__form-field" appearance="outline">
      <mat-label>{{ 'CONTACTS.FORM.NAMEFIELD.LABEL' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        required
        autocomplete="off"
      />
      <mat-hint>{{ 'CONTACTS.FORM.NAMEFIELD.HINT' | translate }}</mat-hint>

      <mat-error *ngIf="name.invalid">
        <div *ngIf="name.errors.required">
          {{ 'CONTACTS.FORM.NAMEFIELD.ERROR.REQUIRED' | translate }}
        </div>
        <div *ngIf="name.errors.maxlength">
          {{ 'CONTACTS.FORM.NAMEFIELD.ERROR.PATTERN' | translate }}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="contacts__form-field" appearance="outline">
      <mat-label>{{ 'CONTACTS.FORM.EMAILFIELD.LABEL' | translate }}</mat-label>
      <input
        matInput
        type="email"
        placeholder="pat@example.com"
        formControlName="email"
        autocomplete="off"
        required
      />
      <mat-hint>{{ 'CONTACTS.FORM.EMAILFIELD.HINT' | translate }}</mat-hint>

      <mat-error *ngIf="email.invalid">
        <div *ngIf="email.errors.required">
          {{ 'CONTACTS.FORM.EMAILFIELD.ERROR.REQUIRED' | translate }}
        </div>
        <div *ngIf="email.errors.email">
          {{ 'CONTACTS.FORM.EMAILFIELD.ERROR.PATTERN' | translate }}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="contacts__form-field" appearance="outline">
      <mat-label>{{
        'CONTACTS.FORM.MESSAGEFIELD.LABEL' | translate
      }}</mat-label>
      <textarea
        class="contacts__form-field-textarea"
        matInput
        formControlName="message"
        required
      ></textarea>
      <mat-hint>{{ 'CONTACTS.FORM.MESSAGEFIELD.HINT' | translate }}</mat-hint>

      <mat-error *ngIf="message.invalid">
        <div *ngIf="message.errors.required">
          {{ 'CONTACTS.FORM.MESSAGEFIELD.ERROR.REQUIRED' | translate }}
        </div>
        <div *ngIf="message.errors.maxlength">
          {{ 'CONTACTS.FORM.MESSAGEFIELD.ERROR.PATTERN' | translate }}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-spinner
      *ngIf="loading$ | async"
      diameter="25"
      color="primary"
    ></mat-spinner>
    <button
      *ngIf="(loading$ | async) === false"
      class="contacts__submit mat-spinner"
      mat-raised-button
      color="accent"
      [disabled]="contactsForm.invalid"
    >
      {{ 'CONTACTS.FORM.SUBMIT' | translate }}
    </button>
  </form>
</section>
