<mat-toolbar color="primary" class="header mat-elevation-z6">
  <div class="header__nav">
    <a class="header__nav-logo" routerLink="/landing">
      <img src="assets/img/xbook-logo.png" alt="XBook" />
    </a>

    <mat-menu #navMenu class="header__nav-select">
      <button
        class="header__controls-option"
        mat-menu-item
        routerLink="/admin/dashboard"
      >
        {{ 'ADMIN.HEADER.MENU.DASHBOARD' | translate }}
      </button>
      <button
        class="header__controls-option"
        mat-menu-item
        routerLink="/admin/configuration"
      >
        {{ 'ADMIN.HEADER.MENU.CONFIGURATION' | translate }}
      </button>
      <button
        class="header__controls-option"
        mat-menu-item
        routerLink="/admin/bookings"
      >
        {{ 'ADMIN.HEADER.MENU.BOOKINGS' | translate }}
      </button>
      <button
        class="header__controls-option"
        mat-menu-item
        routerLink="/admin/profile"
      >
        {{ 'ADMIN.HEADER.MENU.PROFILE' | translate }}
      </button>
      <button
        class="header__controls-option"
        mat-menu-item
        routerLink="/admin/statistic"
      >
        {{ 'ADMIN.HEADER.MENU.STATISTIC' | translate }}
      </button>
      <button
        class="header__controls-option"
        mat-menu-item
        (click)="onLogout()"
        routerLink="/landing/login"
      >
        {{ 'ADMIN.HEADER.MENU.LOGOUT' | translate }}
      </button>
    </mat-menu>

    <button
      class="header__controls-lang"
      mat-button
      [mat-menu-trigger-for]="navMenu"
    >
      <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
